/* CSS declarations go here */
#content {
    margin-top: 60px;
}
.room-name {
    text-align:center;
}
.member-list {
    text-align:center;
}

.account-dropdown{ 
    text-align:center;
}

.form-group {
    margin-left:10px;
    margin-right:10px;
}

.side-nav-left {
    text-align:center;
	margin-left: -225px;
    line-height: 50px;
	left: 225px;
	width: 200px;
	position: fixed;
	top: 50px;
	height: 100%;
	border-radius: 0;
	border: none;
	background-color: #222222;
	overflow-y: auto;
    color:#FFF;
    font-size:15px;
}

#video {
    text-align:center;
}

#add-video-form {
    text-align:center;
}
.side-nav-right {
    text-align:center;
	margin-right: -400px;
    line-height: 50px;
	right: 400px;
	width: 300px;
	position: fixed;
	top: 50px;
	height: 100%;
	border-radius: 0;
	border: none;
	background-color: #222222;
	overflow-y: auto;
    color:#FFF;
    font-size:15px;
}

.songText  {
    font-size:9pt;
}

.playlistText { 
    font-size:9pt;
}

.playlistHeader {
    font-size:14pt;
}

.currentlyPlaying {
    font-size:12pt;
    color: orange;
}
